
<!DOCTYPE html>
<html>
<head>
<sty<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js" integrity="sha512-9pm50HHbDIEyz2RV/g2tn1ZbBdiTlgV7FwcQhIhvykX6qbQitydd6rF19iLmOqmJVUYq90VL2HiIUHjUMQA5fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</style>
<script>
  htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})
</script>
</head>


<body>
  <center>
  <div>
 
    <a href="logout">logout</a>
  </div>
  </center>
    <center>
<!-- <form action ="home" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="background-color:#41aaa2; height:400px; width:500px; border-radius:30px; text-align:center;" class="col-md-offset-4">
        <h1 style="text-align:center; padding-top:30px; color:#ffffff;"> Add Employee Details </h1>
        
        <div class="col-md-12" style="padding-top:10px;">
        <input type="text" class="form-control" placeholder="Company name" name="cname" style="border-radius:15px;width: 70%; margin-left: 60px;
        height: 33px;
    ">
        </div>
        <div class="col-sm-12" style="padding-top:10px;">
        <input type="number" class="form-control"  placeholder="salary" name="salary" style="border-radius:15px;     width: 70%; margin-left: 60px;
        height: 33px;
    ">
        </div>
        <div class="col-sm-12" style="padding-top:10px;">
        <input type="text" class="form-control"  placeholder="city" name="city" style="border-radius:15px;     width: 70%; margin-left: 60px;
        height: 33px;
    ">
        </div>
        <div class="col-sm-12" style="padding-top:10px;">
          <input type="text" class="form-control"  placeholder="state" name="state" style="border-radius:15px;     width: 70%; margin-left: 60px; height: 33px;
      ">
      
          </div>
       
        <div class="col-sm-12" style="padding-top:10px;">
        <input type="number" class="form-control"  placeholder="pincode" name="pincode" style="border-radius:15px;     width: 70%;  margin-left: 60px;height: 33px;
    ">
        </div>
        
       
        
        
        <button class="col-md-4 col-md-offset-4 btn" style="background-color:#ffffff; color:#626a69; font-size:20px; margin-top:10px;" type="submit"> Submit
        </button>
      
        </div>
</form> -->

<!-- <br>
<br>
<button class="col-md-4 col-md-offset-4 btn" > <a href="employee">Shows All Employee</a></button> -->

</center>
<br>
<br>


<table class=" sortable table"  >
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">bookname</th>
      <th scope="col">author name</th>
    

    </tr>
  </thead>
  <tbody  id="groups">
    
    {% for obj in book %}
    
  
    
        <td>{{ obj.bookname }}</td>
          <td> {{ obj.author }} </td>
        
          </tr>
    {% endfor %}
  </tbody>
</table>



 



</body>
</html>
